In [72]:
import nltk

nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [73]:
import pandas as pd

df = pd.read_csv("emails.csv")
df.head()

                                                text  spam
0  Subject: naturally irresistible your corporate...     1
1  Subject: the stock trading gunslinger  fanny i...     1
2  Subject: unbelievable new homes made easy  im ...     1
3  Subject: 4 color printing special  request add...     1
4  Subject: do not have money , get software cds ...     1

In [74]:
df.tail()

                                                   text  spam
5723  Subject: re : research and development charges...     0
5724  Subject: re : receipts from visit  jim ,  than...     0
5725  Subject: re : enron case study update  wow ! a...     0
5726  Subject: re : interest  david ,  please , call...     0
5727  Subject: news : aurora 5 . 2 update  aurora ve...     0

<h1>1-Data Cleaning

<h3>1.1-Ponctuation

In [75]:
import string

def remove_punctuation(input_string):
   
    return ''.join([char for char in input_string if char not in string.punctuation])

print(string.punctuation)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [76]:
df['clean_text'] = df['text'].apply(remove_punctuation)
df.head()

,text,spam,clean_text
0,Subject: naturally irresistible your corporate...,1,Subject naturally irresistible your corporate ...
1,Subject: the stock trading gunslinger fanny i...,1,Subject the stock trading gunslinger fanny is...
2,Subject: unbelievable new homes made easy im ...,1,Subject unbelievable new homes made easy im w...
3,Subject: 4 color printing special request add...,1,Subject 4 color printing special request addi...
4,"Subject: do not have money , get software cds ...",1,Subject do not have money get software cds fr...

<h3>1.2-Lower Case

In [77]:
df['clean_text'] = df['clean_text'].apply(lambda x: x.lower())
df.head()

,text,spam,clean_text
0,Subject: naturally irresistible your corporate...,1,subject naturally irresistible your corporate ...
1,Subject: the stock trading gunslinger fanny i...,1,subject the stock trading gunslinger fanny is...
2,Subject: unbelievable new homes made easy im ...,1,subject unbelievable new homes made easy im w...
3,Subject: 4 color printing special request add...,1,subject 4 color printing special request addi...
4,"Subject: do not have money , get software cds ...",1,subject do not have money get software cds fr...

<h3>1.3-Supprimer Nombres

In [78]:
def remove_numbers(input_string):
    
    return ''.join([char for char in input_string if not char.isdigit()])


df['clean_text'] = df['clean_text'].apply(remove_numbers)
df.head()

,text,spam,clean_text
0,Subject: naturally irresistible your corporate...,1,subject naturally irresistible your corporate ...
1,Subject: the stock trading gunslinger fanny i...,1,subject the stock trading gunslinger fanny is...
2,Subject: unbelievable new homes made easy im ...,1,subject unbelievable new homes made easy im w...
3,Subject: 4 color printing special request add...,1,subject color printing special request addit...
4,"Subject: do not have money , get software cds ...",1,subject do not have money get software cds fr...

<h3>1.4-Supprimer StopWords (mots vide de sens)

In [79]:
from nltk.corpus import stopwords 
from nltk import word_tokenize

In [80]:
def remove_stopwords(input_string, language='english'):
    # Obtenir la liste des stopwords pour la langue spécifiée
    stops = set(stopwords.words(language))
    
    # Tokeniser la chaîne d'entrée
    words = word_tokenize(input_string)
    
    # Supprimer les stopwords et retourner le texte nettoyé
    return ' '.join([word for word in words if word not in stops])

In [81]:
df['clean_text'] = df['clean_text'].apply(remove_stopwords)
df.head()

<h3>1.5-Lemme

In [ ]:
from nltk.stem import WordNetLemmatizer

def lemmatize_text(input_string):
    lemmatizer = WordNetLemmatizer()
    # Tokeniser la chaîne d'entrée
    words = word_tokenize(input_string)
    
    # Lemmatiser chaque mot
    lemmatized_words = [lemmatizer.lemmatize(word) for word in words]
    
    # Retourner le texte lemmatisé sous forme de chaîne unique
    return ' '.join(lemmatized_words)

In [ ]:
df['clean_text'] = df['clean_text'].apply(lemmatize_text)
df.head()

,text,spam,clean_text
0,Subject: naturally irresistible your corporate...,1,subject naturally irresistible corporate ident...
1,Subject: the stock trading gunslinger fanny i...,1,subject stock trading gunslinger fanny merrill...
2,Subject: unbelievable new homes made easy im ...,1,subject unbelievable new home made easy im wan...
3,Subject: 4 color printing special request add...,1,subject color printing special request additio...
4,"Subject: do not have money , get software cds ...",1,subject money get software cd software compati...

<h1>2-Count Vectorize

<h3>2.1-Numériser données textuelles en chiffres

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer


vectorizer = CountVectorizer()

X = vectorizer.fit_transform(df['clean_text'])

In [ ]:
df_vectorized = pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names_out())

In [ ]:
df_vectorized = pd.DataFrame(X.toarray(), columns=vectorizer.get_feature_names_out())
df_vectorized

,aa,aaa,aaaenerfax,aadedeji,aagrawal,aal,aaldous,aaliyah,aall,aanalysis,...,zwzm,zxghlajf,zyban,zyc,zygoma,zymg,zzmacmac,zzn,zzncacst,zzzz
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5723,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5724,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5725,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5726,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5727,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

<h3>2.2-Multinomial

In [ ]:
from sklearn.model_selection import cross_validate
from sklearn.naive_bayes import MultinomialNB


clf = MultinomialNB()
scores = cross_validate(clf, X, df["spam"], cv=5, scoring='accuracy')
scores

{'fit_time': array([0.02268147, 0.01952672, 0.02319646, 0.0239141 , 0.02833104]),
 'score_time': array([0.01028824, 0.00423288, 0.00644231, 0.00783706, 0.01539731]),
 'test_score': array([0.98691099, 0.9895288 , 0.991274  , 0.98777293, 0.99213974])}

In [ ]:
mean_accuracy = scores['test_score'].mean()
print(f"Précision moyenne de la validation croisée : {mean_accuracy}")

Précision moyenne de la validation croisée : 0.9895252901681946

<h3>2.3-TF IDF

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer


clf = MultinomialNB()
vectorizer = TfidfVectorizer()
X_tfidf = vectorizer.fit_transform(df['clean_text'])

In [ ]:
scores = cross_validate(clf, X_tfidf, df['spam'], cv=5, scoring='accuracy')

mean_accuracy = scores['test_score'].mean()
print(f"Précision moyenne de la validation croisée avec TF-IDF: {mean_accuracy}")

Précision moyenne de la validation croisée avec TF-IDF: 0.9053771996006615

<h3>Recherche meilleurs paramètres

In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import Pipeline


pipeline = Pipeline([
    ('tfidf', TfidfVectorizer()),
    ('clf', MultinomialNB())
])

parameters = {
    'tfidf__max_df': (0.5, 0.75, 1.0),
    'tfidf__min_df': (1, 2, 3),
    'tfidf__max_features': (None, 5000, 10000),
    'tfidf__ngram_range': [(1, 1), (1, 2), (1, 3)]
}

In [ ]:
grid_search = GridSearchCV(pipeline, parameters, cv=5, scoring='accuracy', n_jobs=-1)
grid_search.fit(df['clean_text'], df['spam'])

print("Meilleurs paramètres:", grid_search.best_params_)

Meilleurs paramètres: {'tfidf__max_df': 0.5, 'tfidf__max_features': 5000, 'tfidf__min_df': 1, 'tfidf__ngram_range': (1, 2)}

In [ ]:
tfidf_vectorizer = TfidfVectorizer(max_df=0.5, max_features=5000, min_df=1, ngram_range=(1, 2))
X_tfidf = tfidf_vectorizer.fit_transform(df['clean_text'])

In [ ]:
scores = cross_validate(clf, X_tfidf, df['spam'], cv=5, scoring='accuracy')
mean_accuracy = scores['test_score'].mean()
print(f"Précision moyenne de la validation croisée avec TF-IDF: {mean_accuracy}")

Précision moyenne de la validation croisée avec TF-IDF: 0.9848114192520786